body {
  position: relative;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(100, 100, 100, 0.4);
}
.modal{
  width: 50%;
  margin: 15% auto auto;
  text-align: center;
  background: #fff;
  position: relative;
  border: 1px solid #778;
  border-radius: 5px;
  padding: 30px 20px;
}

/* #popcard { */
    /* width: 100%; */
    /* height: 100%; */
    /* top: 0; */
    /* position: absolute; */
    /* visibility: hidden; */
    /* display: none; */
    /* background-color: rgba(22,22,22,0.5); complimenting your modal colors */
/* } */
/* #popcard:target { */
    /* visibility: visible; */
    /* display: block; */
/* } */
/* .modal { */
    /* position: relative; */
    /* margin: 0 auto; */
    /* top: 25%; */
/* } */
.modal-close {
  position: absolute;
  right: 15px;
  top: 5px;
  cursor: pointer;
}
.hidden {
  display: none;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, 200px);
  justify-content: center;
  max-width: 875px;
  grid-gap: 25px;
  margin: 0 auto;
}
/* .arrow-left { */
    /* position: relative; */
    /* right: 15px; */
    /* top: 189px; */
    /* background-color: white; */
    /* border: none; */
    /* cursor: pointer; */
/* } */
/*  */
/* .arrow-right{ */
    /* position: relative; */
    /* left: 15px; */
    /* top: 189px; */
    /* background-color: white; */
    /* border: none; */
    /* cursor: pointer; */
/* } */
 .arrows img{
    height: 60%;
    padding-bottom: 0;
}



  .open-popup {
    visibility: visible;
    top: 0;
    left: 0;
    transform: translate(-60%, -60%) scale(1);
  }
